BODY{
  background-color:#EEE;
}
#header{
  background-color: #66CCFF;
  color:#FF66FF;
  text-align:center;
}
#heading2{
  background-color: #FF9900;
  color:#66CCFF;
  text-align:center;
}
#tabs{
  width:800;
  margin-left:auto;
  margin-right:auto;
}
#dad{
  padding:10;
  float:right;
}
#spongeBobLyrics{
  padding:10;
  float:left;
}
#kungfuPanda{
 padding:10;
}
